<div class="doc-root">
  <div class="doc-header">
    <img src="assets/chatdoc.png" alt="log" width="30px" height="30px" srcset="">
    <span class="title">Doc Chat</span>
  </div>
  <div class="doc-body">
    <div class="doc-content">
      <div class="doc-actions">
        <label for="">
          Upload
          <input type="file" accept=".txt" (change)="loadFile($event)" />
        </label>
        <button (click)="createEmbeddings()">Index</button>
      </div>
      <textarea class="content" [value]="fileContent"></textarea>
    </div>
    <div class="doc-questions">
      <div class="doc-chat-history"></div>
      <mat-form-field class="doc-chat-box">
        <mat-label>Chat with the doc</mat-label>
        <textarea matInput placeholder=""></textarea>
      </mat-form-field>
    </div>
  </div>
</div>